<h1>Listing users</h1>
<ul class="list-group" id="users">
  <li class="active list-group-item">
    <span> Name </span>
    <span> Status </span>
  </li>
  <% @users.each do |user| %>
    <li class="list-group-item">
      <span> <%= user.name %> </span>
      <span> <%= user.status %> </span>
    </li>
  <% end %>
</ul>

<%= will_paginate @users, remote: true %>

<%= render "new_users_modal" %>