<h1>Listing users</h1>
<table id="users">
  <tr>
    <th>Name</th>
    <th>Status</th>
  </tr>
 	<% @users.each do |user| %>
 		<tr>
		  <td> <%= user.name %> </td>
		  <td> <%= user.status %> </td>
	  </tr>
	<% end %>
</table>
<%= will_paginate @users, remote: true %>
<br />
<%= link_to 'New User', new_user_path, remote: true %>